body {
    display: flex;
    justify-content: center;
}

table {
    empty-cells: show;
    border-collapse: collapse;
    width: 500px;
}

.table-head {
    background-color: rgb(15, 104, 182);
    font-weight: bold;
    color: white;
}

.center-content {
    text-align: center;
}

.bg-color {
    background-color: rgb(102, 160, 222);
}

.number-align {
    text-align: right;
}

.bold-text {
    font-weight: bold;
}

.smaller-text {
    font-size: 12px;
    font-weight: bold;
}